@page "/admin/member"
@model App.Admin.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<p>Tổng số thành viên @Model.totalUser</p>


<table class="table">
    <tr>
        <th>Tên user</th>
        <th>Vai trò</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var u in Model.users)
    {
        <tr>
            <td>@u.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(u.RoleNames))
                {
                    <a asp-page="./AddRole" class="text-dark" asp-route-id="@u.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-page="./AddRole" asp-route-id="@u.Id">@u.RoleNames</a>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./SetPassword" asp-route-id="@u.Id">Đặt mật khẩu</a>
            </td>
        </tr>
    }
</table>

@{
    var pagingmodel = new XTL.Helpers.PagingModel()
    {
        currentpage = Model.currentPage,
        countpages = Model.countPages,
        generateUrl = (int? p) => Url.Page("./Index", new { p = p })
    };
}

<partial name="_PagingXTL" model="@pagingmodel" />